<div id="bottomFoot">
    <div align='left' style='padding-top: 12px; padding-left:38%; background-color: #f0f0f0'>
      <!--<a ui-sref="dashboard" ng-click="setPage('dashboard');" > <img  src="assets/images/dashboardIcon.svg" class="imgLink"></a>
      <a ui-sref="projects" ng-click="setPage('projects');"><img  src="assets/images/projectsIcon.svg" class="imgLink"> </a>
      <a ui-sref="inventory" ng-click="setPage('inventory');"><img  src="assets/images/inventoryIcon.svg" class="imgLink"></a>
      <a ui-sref="settings" ng-click="setPage('settings');" ng-show="user.adminRole == '1'"><img  src="assets/images/settingsIcon.svg"  class="imgLink"></a>-->
    </div>
    <div align="right" style=" padding-right:1%; background-color: #f0f0f0">COPYRIGHT :: ARCHIRODON 2016</div>
    
</div><!-- end of banner -->