<!doctype html>

   <div class="panel panel-primary popup todo-popup" >
		<div class="custom panel-heading">
			<div class="popupClose" ng-click="closeThisDialog();">
			   <img class="popupCloseImg" src="assets/images/closeIcon.svg" alt="close" />
			</div>
			<h4 class="pop-up-header" >New Goal</h4>
		</div>
		<div ng-show="tempRole=='eval'">
			<div class="col-lg-12" style="padding: 0">
				<div class="col-lg-4" style="padding: 0"></div>
				<div class="col-lg-4" style="text-align: center; margin-top: 25px;" ng-show="(createGoal || addGoalsFromList) && !showExtraMessage('created') && !showExtraMessage('loading')">
					<a href class="btn btn-sq-lg-back btn-warning warning-custom" ng-click="createGoal=addGoalsFromList=false">
						<i class="fa fa-arrow-left fa-2x"></i>
						<span style="font-size: 1.5em; font-weight: bold;"> Back</span><br/>
					</a>
				</div>
				<div class="col-lg-4" style="padding: 0"></div>
			</div>
			<br/><br/>
			<div class="row" style="min-width: 600px; {{(!createGoal && !addGoalsFromList) ? 'padding: 40px;' : ''}}">
				<div class="col-lg-12" style="text-align: center;" ng-hide="createGoal || addGoalsFromList">
					<p>
						<a href class="btn btn-warning warning-custom" ng-click="createGoal=true">
							<i class="fa fa-plus-square fa-3x"></i><br/>
							<span style="font-size: 1.2em; font-weight: bold;">CREATE NEW GOAL</span><br/>
							<span style="font-size: 0.9em; font-style: italic;">Set a new goal <br/>for your employee.</span>
						</a>
						<a href class="btn btn-success success-custom" style="margin-left: 5px;" ng-click="addGoalsFromList=true;">
							<i class="fa fa-list fa-3x"></i><br/>
							<span style="font-size: 1.2em; font-weight: bold;">GOALS FROM LIST</span><br/>
							<span style="font-size: 0.9em; font-style: italic;">Add goals for your employee<br/>from the existing list.</span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="panel-body" id="todoPopupBody" ng-show="tempRole!='eval' || createGoal">
			<div class="formItems" ng-show="showExtraMessage('none')" >
				<div class="container-fluid">
				<form name="form" >
					<div class="row">
						<!-- CLEAR -->
						<div class="col-md-12">
							<div class="">
								<div class="clear"> </div>
								<!-- CLEAR -->
								<div class="panel panel-default newPanelBody">
									<div class="panel-body">
										<div class="col-md-12" ng-init="goal.GoalDescription = ''">
											<label style="margin-left:15px;margin-top:15px;">Goal Description:</label>
											<textarea ng-model="goal.GoalDescription" rows="2" style="width: 97%; float: right;" required></textarea>
										</div>
										<div class="col-md-12" style="margin-top: 7%;">
											<hr>
											<label style="margin-left:15px;margin-top:15px;">Attribute: </label>

											<select ng-model="goal.attributeCode" style="margin-left: 15px;" >
												<option value="N">[Select]</option>
												<option ng-repeat="attribute in attributes" value="{{attribute.AttributeCode}}">{{attribute.AttributeCode}} - {{attribute.CodeDescription}}</option>
											</select><br/><br/>
											<div ng-repeat="attributedescr in attributes" value="{{attributedescr.AttributeCode}}"
												   ng-attr-style="{{goal.attributeCode!=attributedescr.AttributeCode ? 'display:none;' : 'margin-left: 20px;'}}">{{attributedescr.AttDescription}}</div>
										</div>
										<div class="col-md-12" style="margin-top: 7%;">
											<hr>
											<label style="margin-left:15px;margin-top:15px;" >Weight: </label>
											<div layout=""  style="padding: 30px 0px 0px 0px;">
												<div flex="10" layout="" layout-align="center center">
													<span class="md-body-1">1</span>
												</div>
												<md-slider flex="" md-discrete="" ng-model="goal.Weight" step="1" min="1" max="{{role == 'dotted' ? 100 : remainingWeight}}" aria-label="rating" width="70%"></md-slider>
												<div flex="10" layout="" layout-align="center center">
													<span class="md-body-1">{{role == 'dotted' ? 100 : remainingWeight}}</span>
												</div>
												<div flex="10" layout="" layout-align="center center" style="max-width: 11%;">
													<input flex type="number" ng-model="goal.Weight" ng-change="noNullWeight()" step="1" min="1" aria-label="green" aria-controls="green-slider" style="width: 100%" required>
												</div>
											</div>
										</div>
										<div class="clear"> </div>
									  <!-- CLEAR -->
									</div>
								</div>
							   <!-- end of popup buttons -->
							</div>
							<div class="clear"> </div>
						</div>
						<div class="popupButtons center">
							<div class="popupButtonCancel" ng-click="closeThisDialog();">Exit</div>
							<input type="submit" value="Save Goal" class="popupButtonSave" ng-class="{ 'disabled': !form.$valid}" ng-click="addNewGoal(goal,tempRole);" ng-disabled="!form.$valid" />
						</div>
					</div>
				</form>
				   <!--hidden value -->
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('created')">
				<div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/successIcon.svg"/></div>
				<div class="popupMessage">Goal Added Successfully! </div>
				<div class="popupButtonSave" ng-click="closeThisDialog();">OK</div>
			</div>
			<div class="message" ng-show="showExtraMessage('deleted')">
                <div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/successIcon.svg" /></div>
                <div class="popupMessage">Goal Deleted Successfully! </div>
                <div class="popupButtonSave" ng-click="closeThisDialog();">OK!</div>
            </div>
			<div class="message" ng-show="showExtraMessage('warning')">
				<div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/errorIcon.svg"/></div>
				<div class="popupMessage">
					You cannot add weight for this goal more than <b>{{remainingWeight}}</b>
					<br/>
					Weight of all Goals cannot exceed the value of <b>100</b>
				</div>
				<div class="popupButtonSave" ng-click="changeExtraMessage('none');">OK</div>
			</div>
			<div class="message" ng-show="showExtraMessage('loading')" >
				<div class="content">
					<div class="circle"></div>
					<div class="circle1"></div>
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('error')">
				<div class="popupError">
					<div class="popupErrorIcon"><img class="popupErrorIconImg" src="assets/images/errorIcon.svg"/></div>
					<div class="popupErrorText">Error!</div>
					<div class="popupErrorMessage">{{extraMessageText}}</div>
				</div>
				<div class="popupButtonSave" ng-click="changeExtraMessage('none');">OK</div>
			</div>
		   <!-- end of popupcONTENT -->
		</div>
	   
		<div id="evaluationPreviewPopup" ng-show="addGoalsFromList" style="padding: 25px;">
			<div class="dataTable goals-table">
				<table>
					<thead>
						<tr class="headerRowPopup">
							<th style="width:3vw"></th>
							<th class="center" style="width:10vw">ATTRIBUTE</th>
							<th class="center" style="width:30vw">GOAL</th>
							<th class="center" style="width:5vw">WEIGHT %</th>
							<th class="center" style="width:10vw">BY</th>
							<th class="center" style="width:5vw"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="goal in tempGoals" ng-class="{'oddRow' : $odd, 'evenRow': $even}">
							<td class="center">{{$index+1}}</td>
							<td class="center"><span uib-tooltip="{{goal.AttributeFullDescription}}" tooltip-placement="top" tooltip-trigger="'mouseenter'">{{goal.AttributeCode}}&nbsp;-&nbsp;{{goal.CodeDescription}}</span></td>
							<td class="center">{{goal.GoalDescription}}</td>
							<td class="center">{{goal.Weight}}</td>
							<td class="center">{{goal.UserID}}</td>
							<td class="center">
								<md-checkbox md-no-ink aria-label="Select" ng-checked="exists(goal.GoalID, selected)" ng-click="toggle(goal.GoalID, selected)" class="md-green"></md-checkbox>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="popupButtons center">
				<input type="submit" value="Review Goals" class="popupButtonSave" ng-click="saveComment();"  />
			</div>
        </div>
   </div>
   <!-- end of popup -->


   <!--bootstrap pop over-->
<script>
$(document).ready(function(){

	$(".panel").mouseover(function(){
		$('[data-toggle="popover"]').popover();
		$('[data-toggle="class-when-false"]').popover('disable');
	});

});
</script>
