<!doctype html>

   <div class="panel panel-primary popup todo-popup" >
		<div class="custom panel-heading">
			<div class="popupClose" ng-click="closeThisDialog();">
			   <img class="popupCloseImg" src="assets/images/closeIcon.svg" alt="close" />
			</div>
			<h4 class="pop-up-header" >Comments History</h4>
		</div>
		<div class="panel-body" id="todoPopupBody" ng-init="getComments(tempGoal.EvaluationID);">
			<div class="formItems" ng-show="showExtraMessage('none')">
				<div class="container-fluid" ng-show="commentsMode == 'show'">
					<div class="dataTable goals-table"  ng-show="comments.length != 0">
						<table>
							<thead>
								<tr class="headerRowPopup">
									<th style="width:3vw;"></th>
									<th class="center" style="width:10vw">BY</th>
									<th class="center" style="width:10vw">DATE</th>
									<th class="center" style="width:30vw">COMMENT</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="comment in comments" ng-class="{'oddRow' : $odd, 'evenRow': $even}">
									<td class="center">{{$index+1}}</td>
									<td class="center">{{comment.By}}</td>
									<td class="center">{{comment.CommentDate}}</td>
									<td class="center">{{comment.Comment}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div style="text-align: -moz-center;" ng-show="comments.length == 0">
						<div class="center" style="width: 65%;">
							<div class="alert alert-warning">
								<strong>No comments added yet.</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" style="text-align: center; margin-top: 15px;">
					<div ng-show="commentsMode == 'show'">
						<!--<input type="button" value="Add Comment" class="btn btn-info" ng-click="commentsMode = 'add'; newcomment.description = ''"/>-->
						<div class="popupButtonCancel" ng-click="closeThisDialog();">Exit</div>
						<div class="popupButtonCancel" ng-show="tempGoal.EvaluationID" ng-click="commentsMode = 'add'; newcomment.description = ''" style="background: #17a1dd;color: #fff;">Add Comment</div>
					</div>
					<div ng-show="commentsMode == 'add'">
						<textarea ng-model="newcomment.description" rows="2" style="width: 100%"></textarea><br/><br/>
						<div class="popupButtonCancel" ng-click="closeThisDialog();">Exit</div>
						<div class="popupButtonCancel" ng-click="saveComment(tempGoal,newcomment); commentsMode = 'show';" style="background: #17a1dd;color: #fff;">Save</div>
						<!--<input type="button" value="Save" class="btn btn-info" ng-click="saveComment(tempGoal,newcomment); commentsMode = 'show';"/>-->
					</div>
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('loading')" >
				<div class="content">
					<div class="circle"></div>
					<div class="circle1"></div>
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('error')">
				<div class="popupError">
					<div class="popupErrorIcon"><img class="popupErrorIconImg" src="assets/images/errorIcon.svg"/></div>
					<div class="popupErrorText">Error!</div>
					<div class="popupErrorMessage">{{extraMessageText}}</div>
				</div>
				<div class="popupButtonSave" ng-click="changeExtraMessage('none');">OK</div>
			</div>
		   <!-- end of popupcONTENT -->
		</div>
   </div>
   <!-- end of popup -->


   <!--bootstrap pop over-->
<script>
$(document).ready(function(){

	$(".panel").mouseover(function(){
		$('[data-toggle="popover"]').popover();
		$('[data-toggle="class-when-false"]').popover('disable');
	});

});
</script>
