<!doctype html>

   <div class="panel panel-primary popup todo-popup" >
		<div class="custom panel-heading">
			<div class="popupClose" ng-click="closeThisDialog(); deselectAll()">
			   <img class="popupCloseImg" src="assets/images/closeIcon.svg" alt="close" />
			</div>
			<h4 class="pop-up-header" >Add Goal</h4>
		</div>
		<div class="panel-body" id="todoPopupBody" ng-show="(tempRole!='eval' || createGoal) && showExtraMessage('none')">
			<div class="formItems">
				<div class="container-fluid">
				<form name="form" >
					<div class="row">
						<!-- CLEAR -->
						<div class="col-md-12">
							<div class="">
								<div class="clear"> </div>
								<!-- CLEAR -->
								<div class="panel panel-default newPanelBody">
									<div class="panel-body">
										<div class="col-md-12" ng-init="goal.GoalDescription = ''">
											<label style="margin-left:15px;margin-top:15px;">Goal Description:</label>
											<textarea ng-model="goal.GoalDescription" rows="2" style="width: 97%; float: right;" required></textarea>
										</div>
										<div class="col-md-12" style="margin-top: 7%;">
											<hr>
											<label style="margin-left:15px;margin-top:15px;">Attribute: </label>

											<select ng-model="goal.attributeCode" style="margin-left: 15px;" >
												<option value="N">[Select]</option>
												<option ng-repeat="attribute in attributes" value="{{attribute.AttributeCode}}">{{attribute.AttributeCode}} - {{attribute.CodeDescription}}</option>
											</select><br/><br/>
											<div ng-repeat="attributedescr in attributes" value="{{attributedescr.AttributeCode}}"
												   ng-attr-style="{{goal.attributeCode!=attributedescr.AttributeCode ? 'display:none;' : 'margin-left: 20px;'}}">{{attributedescr.AttDescription}}</div>
										</div>
										<div class="col-md-12" style="margin-top: 7%;">
											<hr>
											<label style="margin-left:15px;margin-top:15px;" >Weight: </label>
											<div layout=""  style="padding: 30px 0px 0px 0px;">
												<div flex="10" layout="" layout-align="center center">
													<span class="md-body-1">1</span>
												</div>
												<md-slider flex="" md-discrete="" ng-model="goal.Weight" step="1" min="1" max="{{role != 'emp' ? 100 : remainingWeight}}" aria-label="rating" width="70%"></md-slider>
												<div flex="10" layout="" layout-align="center center">
													<span class="md-body-1">{{role != 'emp' ? 100 : remainingWeight}}</span>
												</div>
												<div flex="10" layout="" layout-align="center center" style="max-width: 11%;">
													<input flex type="number" ng-model="goal.Weight" ng-change="noNullWeight()" step="1" min="1" aria-label="green" aria-controls="green-slider" style="width: 100%" required>
												</div>
											</div>
										</div>
										<div class="clear"> </div>
									  <!-- CLEAR -->
									</div>
								</div>
							   <!-- end of popup buttons -->
							</div>
							<div class="clear"> </div>
						</div>
						<div class="popupButtons center">
							<div class="popupButtonCancel" ng-click="closeThisDialog();">Exit</div>
							<input type="submit" value="Save Goal" class="popupButtonSave" ng-class="{ 'disabled': !form.$valid}" ng-click="addNewGoal(goal,tempRole);" ng-disabled="!form.$valid" />
						</div>
					</div>
				</form>
				   <!--hidden value -->
				</div>
			</div>

		   <!-- end of popupcONTENT -->
		</div>
	   
		<div id="evaluationPreviewPopup" ng-show="tempRole=='eval' && !createGoal && showExtraMessage('none')" style="padding: 25px;">
			<div class="dataTable goals-table" style="width: 50vw;">
				<table ng-show="filteredGoals.length != 0">
					<thead>
						<tr class="headerRowPopup">
							<th style="width:3vw"></th>
							<th class="center" style="width:10vw">ATTRIBUTE</th>
							<th class="center" style="width:30vw">GOAL</th>
							<th class="center" style="width:5vw">WEIGHT %</th>
							<th class="center" style="width:15vw">CREATED BY</th>
							<th class="center" style="width:10vw">ROLE</th>
							<th class="center" style="width:5vw;">
								<md-checkbox md-no-ink aria-label="Select All" ng-if="listGoals.length" uib-tooltip="{{isChecked() ? 'Deselect All' : 'Select All'}}" tooltip-placement="top" tooltip-trigger="'mouseenter'" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()" class="md-green">
								</md-checkbox>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="goal in filteredGoals = (tempGoals | filter: lowerGoalsState(2))" ng-class="{'oddRow' : $odd, 'evenRow': $even}">
							<td class="center">{{$index+1}}</td>
							<td class="center"><span uib-tooltip="{{goal.AttributeFullDescription}}" tooltip-placement="top" tooltip-trigger="'mouseenter'">{{goal.AttributeCode}}&nbsp;-&nbsp;{{goal.CodeDescription}}</span></td>
							<td class="center">{{goal.GoalDescription}}</td>
							<td class="center">{{goal.Weight}}</td>
							<td class="center">{{goal.CreatedByID}}<br/>{{goal.CreatedByName}}</td>
							<td class="center">{{goal.AddedByRole}}</td>
							<td class="center">
								<md-checkbox md-no-ink aria-label="Select" ng-if="goal.GoalExists==0" ng-checked="exists(goal.GoalID, selected)" ng-click="toggle(goal.GoalID, selected)" class="md-green"></md-checkbox>
								<i class="fa fa-check" aria-hidden="true" ng-if="goal.GoalExists==1" uib-tooltip="Goal Already Added" tooltip-placement="top" tooltip-trigger="'mouseenter'"></i>
							</td>
						</tr>
					</tbody>
				</table>
                <div style="text-align: -moz-center;" ng-hide="filteredGoals.length">
                    <div class="center" style="width: 65%;">
                        <div class="alert alert-warning">
                            <strong>No goals defined by employee or dotted line manager.</strong>
                        </div>
                    </div>
                </div>
			</div>
			<div class="popupButtons center">
                <input type="submit" value="+ Create New" class="popupButtonSave" ng-click="createGoal=true" style="background: #fff; color: #4caf50; border: 1px solid #4caf50;"/>
				<input type="submit" value="Add From List" class="popupButtonSave" ng-class="{ 'disabled': selected.length==0}" ng-disabled="selected.length==0" ng-click="cloneSelectedGoals(selected,evID,goal,tempRole);" style="border: 1px solid #4caf50;"/>
			</div>
        </div>
            <div class="message" ng-show="showExtraMessage('created')">
				<div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/successIcon.svg"/></div>
				<div class="popupMessage">Goal Added Successfully! </div>
				<div class="popupButtonSave" ng-click="closeThisDialog();">OK</div>
			</div>
			<div class="message" ng-show="showExtraMessage('deleted')">
                <div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/successIcon.svg" /></div>
                <div class="popupMessage">Goal Deleted Successfully! </div>
                <div class="popupButtonSave" ng-click="closeThisDialog();">OK!</div>
            </div>
			<div class="message" ng-show="showExtraMessage('warning')">
				<div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/errorIcon.svg"/></div>
				<div class="popupMessage">
					You cannot add weight for this goal more than <b>{{remainingWeight}}</b>
					<br/>
					Weight of all Goals cannot exceed the value of <b>100</b>
				</div>
				<div class="popupButtonSave" ng-click="changeExtraMessage('none');">OK</div>
			</div>
			<div class="message" ng-show="showExtraMessage('loading')" >
				<div class="content">
					<div class="circle"></div>
					<div class="circle1"></div>
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('error')">
				<div class="popupError">
					<div class="popupErrorIcon"><img class="popupErrorIconImg" src="assets/images/errorIcon.svg"/></div>
					<div class="popupErrorText">Error!</div>
					<div class="popupErrorMessage">{{extraMessageText}}</div>
				</div>
				<div class="popupButtonSave" ng-click="changeExtraMessage('none');">OK</div>
			</div>
   </div>
   <!-- end of popup -->


   <!--bootstrap pop over-->
<script>
$(document).ready(function(){

	$(".panel").mouseover(function(){
		$('[data-toggle="popover"]').popover();
		$('[data-toggle="class-when-false"]').popover('disable');
	});

});
</script>
