<!doctype html>
<div class="popup" style="max-width: 35em; min-width: 0;">
   <div class="panel panel-primary" >
		<div class="custom panel-heading">
			<div class="popupClose" ng-click="closeThisDialog();">
			   <img class="popupCloseImg" src="assets/images/closeIcon.svg" alt="close" />
			</div>
			<h4 class="pop-up-header" >Change Password</h4>
		</div>
		<div class="panel-body" id="todoPopupBody">
			<div class="formItems" ng-show="showExtraMessage('none')">
				<div class="container-fluid">
				<form name="form" >
					<div class="row">
						<!-- CLEAR -->
						<div>
							<div class="">
								<div class="clear"> </div>
								<!-- CLEAR -->
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="col-md-12">
											<label class="col-md-6">Old Password</label>
											<!--<textarea class="col-md-6" ng-model="devplan.Objective" rows="2" style="width: 95%;" required></textarea>-->
											<input type="password" class="col-md-6" ng-model="oldpass" required/>
										</div>
										<div class="clear" style="height: 15px;"></div>
										<div class="col-md-12">
											<label class="col-md-6">New Password</label>
											<!--<textarea class="col-md-6" ng-model="devplan.WorkExperience" rows="2" style="width: 95%;" ></textarea>-->
											<input type="password" class="col-md-6" ng-model="newpass" required/>
										</div>
										<div class="clear"> </div>
									  <!-- CLEAR -->
									</div>
								</div>
							   <!-- end of popup buttons -->
							</div>
							<div class="clear"> </div>
						</div>
						<div class="popupButtons center">
							<div class="popupButtonCancel" ng-click="closeThisDialog();">Cancel</div>
							<input type="submit" value="Submit" class="popupButtonSave" ng-class="{ 'disabled': !form.$valid}" ng-click="changePassword(newpass,oldpass)" ng-disabled="!form.$valid"/>
						</div>
					</div>
				</form>
				   <!--hidden value -->
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('created')">
				<div class="popupIcon"><img class="popupSuccessIconImg" src="assets/images/successIcon.svg"/></div>
				<div class="popupMessage">Password Changed Successfully! </div>
				<div class="popupButtonSave" ng-click="closeThisDialog();">OK</div>
			</div>
			<div class="container" ng-show="showMessage('loading')" >
				<div class="content">
					<div class="circle"></div>
					<div class="circle1"></div>
				</div>
			</div>
			<div class="message" ng-show="showExtraMessage('error')">
				<div class="popupError">
					<div class="popupErrorIcon"><img class="popupErrorIconImg" src="assets/images/errorIcon.svg"/></div>
					<div class="popupErrorText">Error!</div>
					<div class="popupErrorMessage">{{extraMessageText}}</div>
				</div>
				<div class="popupButtonSave" ng-click="closeThisDialog();">OK</div>
			</div>
		   <!-- end of popupcONTENT -->    
		</div>
   </div>
   <!-- end of popup -->
</div> 
   
